html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: monospace;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: black;
}

a {
    color: white;  
    text-decoration: none;  
}

a:hover{
    color: lightgreen;
}


/*selectors found in the header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 0px 48px;
    height: 72px;
    width: auto;
    background-color: black;
}

.logo {
    color: white;
}

.page-links {
    display: flex;
    gap: 24px;
    list-style-type: none;
    text-decoration: none;  
}

/*selectors found in content*/
.content {
    flex: 1;
    justify-content: space-between;
}

/*selectors found in sections*/

.section {
    display: flex;
    align-items: center;
    height: fit-content;
    width:auto;
    min-height: 160px;
    max-height: 400px;
    min-width: 400px;
    width: auto;
    flex-shrink: 0;
    padding: 24px;
}

.first {
    background-color: lightgreen;
    display: flex;
}

.second {
    background-color:lightgrey;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.third {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px
}

.fourth {
    background-color: lightgrey;
    display: flex;
}

.art-text-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.art-text-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 160px;
    width: 160px;
    gap:12px;
}

.art-card {
    border: 4px solid black;
    height: 100px;
    width: 100px;
}

.text-card {
    text-align: center;
}

.quote {
    display: flex;
    max-width: 300px;
    text-align: left
}

.author{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

/*selectors found in footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0px 48px;
    height: 24px;
    width: auto;
    background-color: black;
}

.copyright {
    color: white;
}